# Dependency directories
node_modules/

# Recursively ignore node_modules anywhere under this folder
**/node_modules/

# Hardhat
cache/
artifacts/
.typechain/

# Logs
.DS_Store
.env
*.log
npm-debug.log*
npm-debug.log.

# Extra project outputs (if present)
cache/
artifacts/

