# Dependency directories
node_modules/

# Recursively ignore node_modules anywhere under this folder
**/node_modules/

# Misc
.DS_Store
.env
*.log

# Vite
/dist

# Logs
npm-debug.log*
npm-debug.log.

